# Directories (trailing slash ensures only folders are ignored)
datasets/
docs/
notebooks/
screeners/
not_used_docs/

# Specific files
critical_conditions.md
Dockerfile
folder_structure.md

# Patterns
*.pyc   